# Server
PORT=3000

# Admin Credentials
ADMIN_PASSWORD=k2h4a1n7
ADMIN_TOKEN=alhammad-admin-secret-token-2024

# Twilio (WhatsApp Notifications)
TWILIO_ACCOUNT_SID=AC9cb2f9a3462596442016c7da27240cc2
TWILIO_AUTH_TOKEN=3ff36c6cf0d8bf9ad800b5c08f2057fd
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

# Email Fallback (Nodemailer via Gmail)
EMAIL_USER=hassanakhter2417@gmail.com
EMAIL_PASS=tfwowtwqqbkipdfo
ADMIN_EMAIL=hassanakhter2007@gmail.com
